body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-family: Monoton, Montserrat;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
.my-input {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.btn-shadow {
    border: 0;
    font-weight: 600;
    background-color: #02b3e4;
    color: #fff;
    box-shadow: rgba(23,43,99,.24) 0 7px 28px;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 12px 23px;
    text-shadow: 1px 1px rgba(0,0,0,.09);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}